/*
Setjum inn „reset“ sem fjarlægir margin og padding af öllu
Þessu má ekki breyta
*/
* {
    margin: 0;
    padding: 0;
  }
  
  /*
  Reiknum stærð á öllum boxum sem border-box.
  Þessu má breyta eða fjarlægja.
  */
  html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  
  /* Uppsetning á síðu—layout */
  .content {
    align-items:flex;
    /* Lætur börn .content raða sér með _flexbox_ */
    display: flex;
    /* röðun sé í dálkaröð (niður) */
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  
  }
   header {
    background-color:#00bfff;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 4rem;
    
  
  }
  header h1 {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
   
  }

  
  <a> {
  color: #0000000 ;

  }
  
  .content > nav {
    height: 3rem;
    
  }
  
  .content > main {
    /* Lætur <main> taka allt auka pláss sem er í boði */
    flex: 1;
    height: 3rem;
    
  }
  
  .content > footer {
    background-color: #00bfff;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 3rem;
    bo
  }
  
  /* almennar skilgreiningar */
  
  h1, h2 {
    /* TODO setja almennar skilgreinar fyrir fyrirsagnir */
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  
  }
  
  a {
    /* TODO setja almennar skilgreinar fyrir tengla */
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  
  }
  
  /* nav — valmynd */
  
  nav ul {

    /* TODO */
  margin: 0 auto;
    max-width: 1200px;
    width: 100%;

  }
  
  nav ul li {
    display: inline;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    font-size: x-large;

  }
  
  /* TODO */
  
  
  /* main — meginmál */
  
  /* TODO */
  
  /* töflur */
  
  table {
    border-spacing: 1/4;
    border-color:#00bfff;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    ;
    
  }
  
  /* TODO */
  
  /* form */
  
  /* TODO */